h1{
    margin-left: 25%;
    margin-right: 25%;
}
.Me{
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
}

.Me .Abaout{
border-radius: 30px;
background-color: #4747474b;
}

.Me .Abaout h2{

}

.Me .Abaout p{

}

.Me img {
    /*Posicion y tamañao*/
    margin-left: 30px ;
    width: 255px;
    height: 255px;
    
    /* display: inline-block;
    position: relative; */
    overflow: hidden;
    border-radius: 50%;
}