.TituloManejo{
    margin-left: 20%;
    margin-right: 20%;
}

.Manejo{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    border-radius: 30px;

    /*Colors*/
    background-color: #4747474b;
    color: black;

    justify-content: space-between;
}

.Manejo ul{
    list-style-type: none;
    margin-right: 100px;
    
}
